h1 {
    text-align: center;
    border: solid;
    width: 100%;
    font-weight: normal;
    text-decoration: red wavy underline;

}

/* body {
    font-weight: lighter;
} */
h2 {
    text-decoration: underline;
    /* line-height: normal; */
    line-height: 2.5;
    letter-spacing: 2.5px;
    font-family: Impact;

}

body h {
    text-decoration: underline;
}

h2 {
    text-decoration: blue line-through;
    font-family: Impact;

}

h3 {
    /* text-decoration: red overline; */
    text-decoration: double red overline;
    font-family: Impact;

}

p {
    line-height: 1.4;
    /* letter-spacing: normal; */
    /* letter-spacing: 6px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}