h1 {

    font-family: "Protest Guerrilla", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Gupter", serif;
    font-weight: 700;
    font-style: normal;
}

i {
    font-size: 100px;
}